<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zl.mapper.BonusMapper">
  <resultMap id="BaseResultMap" type="cn.zl.entity.Bonus">
    <result column="empno" jdbcType="DECIMAL" property="empno" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="sal" jdbcType="DECIMAL" property="sal" />
    <result column="comm" jdbcType="DECIMAL" property="comm" />
  </resultMap>
  <insert id="insert" parameterType="cn.zl.entity.Bonus">
    insert into bonus (empno, job, sal, 
      comm)
    values (#{empno,jdbcType=DECIMAL}, #{job,jdbcType=VARCHAR}, #{sal,jdbcType=DECIMAL}, 
      #{comm,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.zl.entity.Bonus">
    insert into bonus
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="empno != null">
        empno,
      </if>
      <if test="job != null">
        job,
      </if>
      <if test="sal != null">
        sal,
      </if>
      <if test="comm != null">
        comm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="empno != null">
        #{empno,jdbcType=DECIMAL},
      </if>
      <if test="job != null">
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="sal != null">
        #{sal,jdbcType=DECIMAL},
      </if>
      <if test="comm != null">
        #{comm,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>